.zippy
{
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

.zippy-heading{
    font-weight: bold;
    padding: 20 px;
    cursor: pointer;
}

.zippy-body
{
    padding: 20px;
}

.expanded{
    background: #f0f0f0;
}

.glyphicon{
    float: right;
}